/*
.specimen  ul { display: none; }
.specimen:focus  ul { display: block;}
.family .specimen:focus { display: block; }
.family:focus > ul { display: block;}
*/


.family > ul { display: none; }

#toggler {
    color: navy;
}

#toggler:hover {
    background: #ddd;
}

li { 
    margin: 0.1em; 
}

li.specimen { clear: both }

li.imgThumb { 
        font-size: 85%;
}

.citeimagecaption p, .code {
    font-size: 75%;
}

form.citeQuery {
    border: 1px solid silver;
    padding: 5px;
    margin: 5px;
    font-family: sans-serif;
    
}